@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin viewportMax($screen) {
    @media (max-width: $screen + 'px') {
        @content;
    }
}
@mixin viewportMin($screen) {
    @media (min-width: $screen + 'px') {
        @content;
    }
}
@mixin centerItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}