@import './mixin.scss';
@import './style.scss';

.navbar {
    width: 100%;
    height: 50px;
    line-height: 48px;
    border-bottom: 2px solid $blue-accent;
    background: $nav-bg;
    z-index: 10;
    @include mobile {
        display: none;
    }
}

.slide-fade-enter-active {
    transition: all 0.5s ease;
}
.slide-fade-leave-active {
    transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-180px);
    opacity: 0;
}

.sidebar {
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background: $nav-bg;
    box-shadow: 2px 0 10px gray;
    z-index: 10;
    @include viewportMin(601) {
        display: none;
    }
}

.sb-nav-logo, .sb-nav-menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
}
.sb-nav-logo {
    text-align: right;
}
.sb-nav-menu:hover {
    background: $nav-highlight;
}

.menu-btn {
    position: fixed;
    top: 0; left: 0;
    width: 50px; height: 50px;
    z-index: 15;
    cursor: pointer;
    background: rgba(240, 248, 255, 0.5);
    display: none;
    @include mobile {
        display: initial;
    }
    span i {
        @include centerItem;
    }
}


