$font-title: 'Do Hyeon', sans-serif;
$font-content: 'Noto Sans KR', sans-serif;

$bg-light: #F0F8FF;

// $nav-bg: #C3D8FF;
$nav-bg: #3E6B9A;
// $nav-highlight: #DEF2FF;
$nav-highlight: #6488ae;

$blue-accent: #00A2FF;
$blue-accent-light: #00C0FF;

// $footer-bg: #8CA1C6;
$footer-bg: #3E6B9A;
$footer-bg-dark: #25405c;

$light-gray: #9AAEBB;
$gray: #8D9CB2;